TALLY_ENDPOINT=http://127.0.0.1:9000
TALLY_COMPANY_NAME=Your Company Name
MONGODB_URI=mongodb://localhost:27017/tally_snapshot
TALLY_DB_NAME=tally_snapshot
TALLY_STOCK_COLLECTION=stock_items
TALLY_LEDGER_COLLECTION=ledgers
TALLY_VOUCHER_COLLECTION=vouchers
TALLY_SYNC_CRON=0 * * * * # every hour

